[submodule "tools/jquery-cookie2"]
	path = tools/jquery-cookie2
	url = git://github.com/carhartl/jquery-cookie.git
[submodule "tools/jquery-cookie"]
	path = tools/jquery-cookie
	url = git://github.com/carhartl/jquery-cookie.git
[submodule "tools/oauthsimple"]
	path = tools/oauthsimple
	url = git://github.com/jrconlin/oauthsimple.git
