<!DOCTYPE html>
<html>
<head>
	<title>SuperStreamingService</title>
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
	<script type="text/javascript">
	var loadPlaylist = function(genre) {
		$.getJSON("radio/"+genre, playTrack);
	};

	var playTrack = function(playlist) {
		var player = new Audio();
		player.setAttribute("src", playlist.playlist[0].streaming_url);
		player.load();
		player.play();
	};

	</script>
</head>
<body>
	<h1>Welcome to SuperStreamingService Radio!</h1>



	<script src="http://code.jquery.com/jquery.js"></script>
</body>
</html>

